target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/src/main/resources/application-prod.properties
.DS_Store
.mvn/.DS_Store
src/.DS_Store
src/main/resources/static/
src/main/resources/templates/
upload-dir/
/src/main/resources/application-beta.properties
